# Ignora tudo
*

# Não ignora os arquivos específicos
!CSV_dump-copy_export.sh
!CSV_import-teste.sh
!CSV_import-upsert-full.sh
!CSV_import-upsert.sh
!README.md
!banco_psql_export.env
!banco_psql_import.env
!tabelas_ordenadas_completas.sh

# Não ignora o diretório raiz (necessário para que os arquivos acima sejam rastreados)
!*/
